include LICENSE
include NOTICE
include README.md
include CHANGELOG.md
include ARCHITECTURE.md
include DATA_FORMAT.md
recursive-include examples *.yaml *.py *.md
include RELEASING.md
include RELEASE_AUDIT.md
recursive-include .github *.yml *.yaml
